html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: rgb(42, 44, 235);
  font-style: italic;
  font-size: 27px;
  font-family: 'Merriweather', serif;
}


.items{
  display: none;
}

.fade{
  animation-name: fade;
  animation-duration: .75s;
}
@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

li{
  list-style: none;
  display: inline-block;
  padding: 20px 10px 0px 50px;
}

li:hover{
  cursor: pointer;
}
div {
  /* border: 1px solid black; */
  flex: 1;
}

h1{
  text-align: center;
}

img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 5%; */
  padding-bottom: 20%;
  height: auto;
}

img:hover {
  /* width: 70%;
  height: auto; */
  cursor: pointer;
  animation-name: increase;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

#mainimage{
  flex: 2;
  text-align: center;
}

#mainimage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  padding-bottom: 50%;
  /* margin-top: 60px; */

}

#mainimage img:hover{
  cursor: inherit;
  animation-name: inherit;
}

@keyframes increase {
  from {
    width: 30%;
    height: auto;
  }

  to {
    width: 50%;
    height: auto;
  }
}

.allphotos {}

#container {
  /* padding-top: 10%; */
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 75%;
}



.galleryarea {
  /* position: fixed; */
  padding-top: 10%;
  display: flex;
  overflow: scroll;
  flex-direction: row;
    width: 100%;
  /* flex: 2; */
  /* height: 100%;
  /* overflow: scroll; */
  /* flex:3; */
}

.years li{
  display: inherit;
  transform: rotate(-5deg);
  line-height: 40px;
  padding: 0px 0px 0px 10px;

}

.years li:hover{
  background-color: rgb(42, 44, 235);
  color: white;
}
/*
.maincontent{
  flex: 5;
} */

.timeline{
  position: fixed;
}

.timemenu{
  /* float: left; */
  position: fixed;
  top: inherit;
  width: 75%;
  height: 10%;
  background-color: white;
}

.filterarea {
  /* border: 2px rgb(42, 44, 235); */
  /* border-left-style: double; */
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.25);
  float: right;
  /* position: fixed; */
  height: 100%;
  width: 25%;
  background-color: #ffeada;
  display: flex;
  flex-direction: column;
}

.filter-menu {
  /* position: fixed; */
  overflow: scroll;
  flex: 3;
}

.languages{
  border-top: 3px solid rgb(42, 44, 235);
  display: flex;
  flex-direction: row;
  text-align: center;
}

#lightbox {
  display: none;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .8;
  position: fixed;
  /* z-index: 1; */
}

#exit {
  display: none;
  flex: inherit;
  border: 2px solid white;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  width: 30px;
  top: 4%;
  left: 95%;

}

#exit:hover{
  border: 2px solid white;
  background:white;
  cursor: pointer;
}

.information-content{
  overflow: scroll;
  color: white;
  position: fixed;
  flex-direction: row;
  display: none;
  width: 100%;
  height: 100%;
}
.header{
  flex: .2;
}
.description-box{
  flex-direction: column;
  text-align: left;
  display: flex;
  flex: 1.5;

  /* padding-left: 40%: */

}


#title h1{
  padding-top: 30%;
  padding-right: 6%;
  font-size: 30px;
  text-align: left;
  word-wrap: break-word;
}


@media (max-width: 441px){

  html, body {
    font-size: 20px;
  }
  #container{
    flex-direction: column;
    width: 100%;
  }

  img {
    width: 50%;
  }

  .timemenu{
    top: 90%;
    width: 100%;
    text-align: center;
  }

  li{
    display:inline-block;
    padding: 10px 10px 0px 10px;
  }

  li:hover{
    cursor: pointer;
  }

  .galleryarea {
    /* position: fixed; */
    padding-top: 10%;
    display: flex;
    width: 100%;
    overflow: scroll;
    flex-direction: row;å
  }

  .years{
    padding-left: 15px;
  }
  .years li{
    /* display: none; */

    transform: inherit;
    padding: 0px 0px 0px 0px;

  }


  .header{
    flex: .2;
  }
  .filterarea {
    box-shadow: inherit;
    float:inherit;
    /* position: fixed; */
    height: 90%;
    width: 100%;
    background-color: #ffeada;
    text-align: left;
    display: none;
    flex-direction: column;
  }

  #exit {left: 80%;}

  .information-content{flex-direction: column;}
  #mainimage{
    flex: 1;
    text-align: center;
  }

  #mainimage img{
    width: 90%;
    /* height: auto; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40%;
    padding-bottom: inherit;
    /* margin-top: 60px; */
  }


  #title h1 {
    padding-top: 5%;
    padding-left: 6%;
    font-size: 30px;
    text-align: left;
    word-wrap: break-word;
}

}
