html, body{
  background-color: #04FF78;
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  flex-direction: column;
  display: flex;
  font-family: 'Krona One', sans-serif;

}

div{
  flex: 1;
    /* border: 1px solid black; */
}

.upper-content{
  height: 75%;
  display: flex;
  flex-direction: row;
}

.lower-content{
  height: 25%;
  display: flex;
  flex-direction: row;
}


.clock{
  position: relative;
  top: 10%;
  left: 30%;
  background-color: #FD005B;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

#count{
  position: relative;
  top: 30px;
  font-size: 36px;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  color: white;
}

.dancers-container{
  flex: 4;
  flex-direction: column;
}


.footstep{
  position: absolute;
  top: 20%;
  left: 50%;
}
/* .left{
  position: absolute;
  left: 40%;
}
*/
.reflect-right{
  left: 43%;
  transform: scaleX(-1);
}

.upside-down{
  top: 56%;
  transform: scaleY(-1);
}

.leftreflect{
  transform: scaleY(1);
}

.rotate{
  transform: rotate(180deg);
}

.prompt-container{
  position: relative;
  top: 45%;
}
.prompt{
  /* position: relative;
  display:inline-block;
  left: 19%; */
  color: #FD005B;
  /* text-transform: uppercase; */
  font-size: 50px;
  /* font-weight: bold; */
  text-align: center;
  letter-spacing: 2px;
}

#cursor {
  font-family: 'Exo 2', sans-serif;
  animation: blinker 1s step-end infinite;
  /*you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {
  50% { opacity: 0; }
}

.leftfoot{
  display: inline-block;
  position: relative;
  left: 5%;
}
.rightfoot{
  display: inline-block;
  position: relative;
  left: 10%;
}

#type-container{
  width: 1000px;
  padding: 50px;
  word-wrap: break-word;
}

.footsteps-container{
  flex: 5;
}

.answers{
  padding: 10px 40px 10px 50px;
  font-size: 50px;
  transform:rotate(180deg);
}
