html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgb(242, 241, 223);
  font-family: 'Handlee', cursive;
  color: rgb(42, 44, 235);
}

.container{
  display: flex;
  flex-direction: column;
}

img{
  width: 30%;
  height: auto;
}

h1{
  font-family: 'Parisienne', cursive;
  font-size: 100px;
  transform: rotate(-5deg);
  padding-left: 20px;
}

#people{
  width: 60%;
  word-wrap: break-word;
  padding: 5px 20px 5px 20px;
  transform: rotate(-5deg);
}

.nameStyle{
  font-family: times;
  font-size: 30px;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
}


.Filter{
  display: flex;
  flex-direction: row;
  text-transform: uppercase;

}


li{
  list-style: none;
  border: 3px solid black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.TimeLine{
  display: flex;
  flex-direction: column;
}

.TimeLine li{
  border: inherit;
  text-align: right;
}
