html, body {
  height: 100%;
  margin: 0;
}

body {
  color: white;
  background-color: rgb(96, 56, 194);
  text-transform: lowercase;
  font-family: schwager-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 100px;
  letter-spacing: 2px;
  margin: 0;
}

h2 {margin: 0.83em 0;}

div {
  flex: 1;
  /* border: 1px solid white; */
}

/* span{
  background-color: white;
  color:mediumslateblue;
  padding: 5px;
  border-radius: 3px;
} */
/*
.page{
  background-image: linear-gradient(rgb(96, 56, 194), blue);
  position:absolute;
  height: 200%;
  width: 100%;
} */

span{
  text-transform: uppercase;
}
.content {
  flex-direction: column;
  /* padding-top:; */
  width:100%;
  /* padding-bottom: 60%; */
  /* width: 100%; */
}

.big-container{
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title{display: none;}

.title-two{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 10%;
  padding-left:410px;

}
.meridiem {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 20%; */
  flex: 1;
}

.night{
  /* padding-bottom: 30px; */
  padding-top: 30px;
}

.top{padding-bottom: 0px;}

.dot{
  background-color: white;
  height: 10px;
  width: 40px;
  position: relative;
  left: calc(50% - 20px);
  top: inherit;
}

.time-container {
  flex: 4;
  /* width: 75%; */
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 10px 10px;
}
.hours {
  font-size: 150px;
  width: 20%;
  text-align: center;
  font-weight: 700;
  text-shadow:0px 0px 20px white;
  height: 100%;
  -webkit-text-stroke: 2px white;
  padding-right: inherit;
  border: 3px solid white;

}

.center-display{
  animation-name: flash;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* @keyframes back {
 from{transform: scale(-1,1);

 }
 to{
   transform: scale(1,1);
 }
} */

@keyframes flash {
  0% {
    color: white;
    text-shadow:0px 0px 20px white;
  }
  49% {
    color: white;
    text-shadow:0px 0px 20px white;
  }
  60%{
    color: transparent;
    text-shadow:0px 0px 0px transparent;
  }
  99% {
    color: transparent;
    text-shadow:0px 0px 0px transparent;
  }
  100%{
    color: white;
    text-shadow:0px 0px 20px white;
  }
}

.content-two{
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  width:100%;
}


.instruction-content{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  width:100%;
}

.numeral-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  /* width: 20%; */
  padding: 10px 10px 60px 50px;
}

.numeral{
  flex: 1;
  font-size: 300px;
  text-shadow:0px 0px 20px white;
  border: 10px solid white;
}

.description{
  flex: 4;
  text-align: left;
  padding-left: 80px;
  font-size: 30px;
}

.illustrated-text{
  font-size: 80px;
  font-weight: 700;
  -webkit-text-stroke: 2px white;
  letter-spacing: 12px;
  border: inherit;
}


#backwards{
  unicode-bidi: bidi-override;
  direction: rtl;
}

.without{
  color: rgb(96, 56, 194);
}

.with{
  color: white;
}

#without,#pressonm,#revealmid,#hour-display,#md,#f:hover{
  cursor:pointer;
}

#midnight{
  display: none;
}
