
@media (max-width: 700px) {

  /* more css goes here*/
  /* if the above statement is true it will apply these styles */
  /* reset the original */
  .content {
    /* flex-direction: column; */
    padding-top: 30%;
    width: 100%;
  }
  .title{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 28px;
  }
  .title-two{display: none;}
  .big-container{
    /* display: inherit; */
    flex-direction: column-reverse;
  }

  /* .content :nth-child(1){
    order:2;
  }
  .content :nth-child(2){
    order: 3;
  }
  .content :nth-child(3){
    order: 1;
  } */

  .meridiem {
    flex: initial;
    justify-content: flex-start;
    flex-direction: row;
    width: inherit;
  }

  .night {
    width: 50%;
    padding-top: inherit;
  }

  .top{
    padding-bottom: inherit;
  }

  .dot{top: 80px;}

  .time-container {
    width: inherit;
    float: inherit;
    flex: initial;
    padding: inherit;


  }
/*
  .number{
    left: 30px;
  } */

  .hours {
    font-size: 50px;
    width: 20%;
    text-align: center;
    font-weight: 700;
    /* padding-right: 5px; */
    border: 1px solid white;
  }

  .main-area{
    flex-direction: column;
  }
  
  .numeral-container {
    flex-direction: column;
    padding: 10px 10px 60px 10px;

    /* width: 20%; */
  }
  .numeral{
    flex: inherit;

  }
  .description{
    flex: inherit;
    text-align: center;
    padding-left: inherit;
  }

  .illustrated-text{
    border: inherit;
    font-size: 40px;
    text-align: center;
  }
  /* }
  .steps{
    flex-direction: column;
    text-align: center;

  } */

  /* .medium{
    height: 500px;
    }

  .number-container{
    flex-direction: column;
  }
  .description-container{
    padding:  0px 20px 5px 20px;
  }
  .illustrated-text{
    border: inherit;
    font-size: 50px;
  } */

}
